# Ignoring the log files
logs/*

# Ignoring configuration files
.env

# Ignore Python cache
dags/__pycache__/
dags/tasks/__pycache__/
database/__pycache__/
config/__pycache__/
endpoints/__pycache__/

# Ignoring standard files
.DS_Store
Thumbs.db

# Ignoring testing tools
*.pid
*.cfg

# Ignoring the dependencies of the local virtual environment
.mft_db_env/